In [8]:
import pandas as pd

df = pd.read_csv("/home/raksha/Desktop/Pakkit-project/data/processed/classifer.csv")
df.head()

,src_port,dst_port,proto,pktTotalCount,octetTotalCount,avg_ps,std_dev_ps,flowDuration,avg_piat,std_dev_piat
0,443,46608,17,80,15021,187.762500,180.210311,27.777353,0.351612,0.861164
1,443,45100,17,77,54999,714.272727,563.823004,0.775274,0.010201,0.042494
2,53,52741,17,2,188,94.000000,8.000000,0.027886,0.027886,0.000000
3,53,54016,17,2,230,115.000000,25.000000,0.034452,0.034452,0.000000
4,443,35771,17,35,16843,481.228571,528.977617,0.350865,0.010320,0.016616

In [9]:
df.pktTotalCount.value_counts()

pktTotalCount
2       17
3        4
6        2
77       1
80       1
35       1
31       1
586      1
20       1
28       1
17       1
21       1
211      1
29       1
1765     1
8        1
15       1
43       1
7        1
Name: count, dtype: int64